<h2>Movies of Heroes</h2>
<div class="container">
    <img src="assets/movie/spider-man-movie.png" alt="画像">
    <div class="detail">
        <h1>スパイダーマン</h1>
        <div>
            <p>
            公開日：2017年7月7日<br><br>
            高校生活を送る一方で、ニューヨークをパトロールする15歳のスパイダーマン・ピーター。<br>
            彼はアベンジャーズの一員になることを夢見ていた。そんな中、師と仰ぐアイアンマンの宿敵が街に出現。<br>
            1人前として認められたいと焦る彼は、制止を無視して挑みかかる。
            </p>
        </div>
    </div>
</div>

<div class="container">
    <img src="assets/movie/ironman-movie.jpeg" alt="画像">
    <div class="detail">
        <h1>アイアンマン</h1>
        <div>
            <p>
            公開日：2008年9月27日<br><br>
            軍事会社社長で発明家でもある男は、視察先でテロリストの襲撃に遭い、胸に大怪我を負う。<br>
            自社兵器がテロに悪用されていることを知った彼は、囚われの身となっている間に戦闘機能を持つパワードスーツを開発。<br>
            それを装着して脱出し、テロ組織に立ち向かう。
            </p>
        </div>
    </div>
</div>

<div class="container">
    <img src="assets/movie/Captain America-movie.jpg" alt="画像">
    <div class="detail">
        <h1>キャプテン・アメリカ／ザ・ファースト・アベンジャー</h1>
        <div>
            <p>
            公開日：2011年10月14日<br><br>
            ナチス・ドイツがヨーロッパを席巻していた1940年代初頭。<br>
            虚弱体質ゆえに入隊テストに合格できないアメリカ人青年スティーブ・ロジャースは、軍の極秘計画に参加し、<br>
            驚異的な身体能力と正義感を備えた超人「キャプテン・アメリカ」となる。しかし、いっこうに従軍の許可が出ない。<br>
            そんな中、親友の危機を知った彼は無断で戦線へ赴く。
            </p>
        </div>
    </div>
</div>

<div class="container">
    <img src="assets/movie/Thor-movie.webp" alt="画像">
    <div class="detail">
        <h1>マイティ・ソー</h1>
        <div>
            <p>
            公開日：2011年7月2日<br><br>
            神の世界アスガルドの王子ソーは、伝説の武器を持ち無敵を誇っていたが、その傲慢な振舞いで国を戦機にさらしてしまう。<br>
            戒めのために地球に追放された彼は、人間たちとの生活を始める。一方、彼の義弟が国家の征服を目論み、動きだす。
            </p>
        </div>
    </div>
</div>

<div class="container">
    <img src="assets/movie/Doctor Strange-movie.jpg" alt="画像">
    <div class="detail">
        <h1>ドクター・ストレンジ</h1>
        <div>
            <p>
            公開日：2016年10月13日<br><br>
            ニューヨークの病院で働く天才外科医の男は、交通事故で両手を怪我して医師としての道を絶たれてしまう。<br>
            彼は治療法を求めて神秘の力を操る者の弟子となり、修行の果てに魔術師として生まれ変わる。<br>
            そんな彼の前に、世界を破滅に導く闇の魔術師が現れる。
            </p>
        </div>
    </div>
</div>

<div class="container">
    <img src="assets/movie/Black Panther-movie.jpg" alt="画像">
    <div class="detail">
        <h1>ブラックパンサー</h1>
        <div>
            <p>
            公開日：2018年2月16日<br><br>
            国王ティ・チャラ亡き後のワカンダ王国。<br>
            ティ・チャラの妹であるシュリたちは、新たな脅威となる海の王国タロカンの侵略から国を守るために戦う。
            </p>
        </div>
    </div>
</div>

<div class="container">
    <img src="assets/movie/The Hulk-movie.png" alt="画像">
    <div class="detail">
        <h1>インクレディブル・ハルク</h1>
        <div>
            <p>
            公開日：2008年8月1日<br><br>
            実験中の事故で緑色の巨人ハルクに変身する体質となってしまった科学者の男性。<br>
            以来、彼は軍の追跡を逃れ、また愛する恋人とも別れてブラジルで隠遁生活を送っていた。<br>
            だが、ある出来事がきっかけで、ついに彼の居場所が軍に知れてしまう。
            </p>
        </div>
    </div>
</div>

<div class="container">
    <img src="assets/movie/Black Widow-movie.jpeg" alt="画像">
    <div class="detail">
        <h1>ブラック・ウィドウ</h1>
        <div>
            <p>
            公開日：2021年7月9日<br><br>
            ブラック・ウィドウの前に妹エレーナが現れる。<br>
            そんな姉妹を暗殺者として育てたスパイ組織「レッドルーム」は、秘密を知った2人を狙う。<br>
            かつてレッドルームが用意したかりそめの家族しか頼れる者がいない中、ある恐ろしい陰謀が明らかになっていく。
            </p>
        </div>
    </div>
</div>

<div class="container">
    <img src="assets/movie/Ant-Man-movie.png" alt="画像">
    <div class="detail">
        <h1>アントマン</h1>
        <div>
            <p>
            公開日：2015年6月29日<br><br>
            公私ともに窮地に立った無職の男は、ひょんなことから天才科学者の開発した特殊スーツを着ることになる。<br>
            そして、身長1.5cmのヒーロー・アントマンに変身した彼は、正義の味方たるべく博士やその娘から厳しい特訓を受ける。
            </p>
        </div>
    </div>
</div>