<div class="container" *ngIf="id==='12'">
  <img src="assets/Spider-Man.jpg" alt="画像">
  <div class="detail">
    <h1>あなたの親愛なる隣人スパイダーマン</h1>
    <div>
      <p>
        ヒーロー名：Spider-Man<br>
        通称：親愛なる隣人<br>
        本名：ピーター・ベンジャミン・パーカー<br>
        高校生の時、研究所に見学で訪れたピーターはそこで放射能を浴びたクモに刺されてしまい、<br>
        壁に貼り付くなどクモ由来の超能力を得る。<br>
        ピーターはクモ糸を発射する機械「ウェブ・シューター」とクモをイメージした赤と青のコスチュームを作り、<br>
        それを身につけて自ら「スパイダーマン」と名乗りテレビに出演して人気者となった。
      </p>
    </div>
  </div>
</div>

<div class="container" *ngIf="id==='13'">
  <img src="assets/Ironman.jpg" alt="画像">
  <div class="detail">
    <h1>私がアイアンマンだ</h1>
    <div>
      <p>
        ヒーロー名：Iron Man<br>
        本名：トニー・スターク <br>
        武器商人としてアフガニスタンを訪れた際テロリスト集団テン・リングスに拉致され、ミサイルを作ることを強要された彼は、<br>
        与えられたガラクタ同然の部品を集めて脱出用のアーマースーツを作り出した。 アメリカに帰還したスタークは心を入れ替え、<br>
        アーマーを改良・強化して平和を守るスーパーヒーロー・アイアンマンとなった。<br>
      </p>
    </div>
  </div>
</div>

<div class="container" *ngIf="id==='14'">
  <img src="assets/Captain America.jpg" alt="画像">
  <div class="detail">
    <h1>彼こそが世界最初の英雄</h1>
    <div>
      <p>
        ヒーロー名：Captain America<br>
        通称：キャプテン・ロジャース<br>
        本名：スティーブン・グラント・“スティーブ”・ロジャース<br>
        大恐慌の最中に両親を失い、天涯孤独の身で配達員として生計を立てていた。<br>
        彼はナチズムへの義憤と愛国心に駆られて軍へ志願するも、<br>
        徴兵基準を満たせないほど貧弱な身体の持ち主であったために弾かれてしまう。<br>
        しかし国のために命を懸けられる真っ直ぐな性根を見初められ、軍の「超人兵士計画」への参加を持ちかけられる。<br>
        諦め切れていなかったスティーブは二つ返事で快諾し、<br>
        計画の一環である人体実験（「オペレーション：リバース」）で超人血清を投与される。<br>
        1941年、こうしてスティーブはキャプテンアメリカとして生まれ変わったのだ。
      </p>
    </div>
  </div>
</div>

<div class="container" *ngIf="id==='15'">
  <img src="assets/Thor.jpg" alt="画像">
  <div class="detail">
    <h1>神失格の男(ヒーロー)"</h1>
    <div>
      <p>
        ヒーロー名：Thor<br>
        本名：ソー・オーディンソン<br>
        北欧の伝説には、オーディンの息子、アスガルドの玉座を継ぐものを語る物語がある。<br>
        その神こそソー、神話最強のヒーロー。<br>
        ソーの腕力、耐久力そして、戦いへの飽くなき冒険心はアスガルドのどの同胞よりも強い。<br>
        強大なソーは魔力を宿したウルのハンマー、ムジョルニアを振るい、雷と稲妻を自在に操る。
      </p>
    </div>
  </div>
</div>

<div class="container" *ngIf="id==='16'">
  <img src="assets/Doctor Strange.jpg" alt="画像">
  <div class="detail">
    <h1>上から目線の天才外科医。</h1>
    <div>
      <p>
        ヒーロー名：Doctor Strange<br>
        本名：スティーヴン・ヴィンセント・ストレンジ<br>
        天才的な脳外科医として全米に名声を轟かせていたストレンジは、<br>
        自動車事故で両腕に大怪我を負ってしまい精密な腕の動きができなくなってしまう。<br>
        どんな傷をも治せる魔術師、エンシェント・ワンの弟子として魔術を学び、7年間の修行の末に魔術を会得したストレンジは、<br>
        魔術を正しきことに使うため「ドクター・ストレンジ」と名乗ってヒーロー活動を開始する。
      </p>
    </div>
  </div>
</div>

<div class="container" *ngIf="id==='17'">
  <img src="assets/Black Panther.jpg" alt="画像">
  <div class="detail">
    <h1>国王とヒーロー…2つの顔をもつ男。</h1>
    <div>
      <p>
        ヒーロー名：Black Panther<br>
        本名：ティチャラ<br>
        アフリカにある架空の王国ワカンダの君主にして守護者である。<br>
        ハート形のハーブを摂取する儀式によって強化された身体能力に加え、<br>
        天才的な知性と厳しい鍛錬、格闘術、さらに国王として所有する先端技術や富を駆使して敵と戦う。<br>
      </p>
    </div>
  </div>
</div>

<div class="container" *ngIf="id==='18'">
  <img src="assets/The Hulk.jpg" alt="画像">
  <div class="detail">
    <h1>インクレディブル・ハルク</h1>
    <div>
      <p>
        ヒーロー名：The Hulk<br>
        通称：超人ハルク<br>
        本名：ロバート・ブルース・バナー<br>
        天才的な物理学者であるロバート・ブルース・バナーは、新型爆弾ガンマ・ボムの実験中に実験場に迷い込んできた少年を助け、<br>
        大量のガンマ線を浴びてしまう。<br>
        致死量のガンマ線を浴びたはずが生還したバナー。しかし、バナーの体にある変化が起きていた。怒りや憎しみなど、<br>
        負の感情の高ぶりによって、緑色の肌と人間離れした怪力を持つ巨人「ハルク」に変身する体質となってしまっていた
      </p>
    </div>
  </div>
</div>

<div class="container" *ngIf="id==='19'">
  <img src="assets/Black Widow.jpg" alt="画像">
  <div>
    <h1>あり得ないほど《妖艶》</h1>
    <div class="detail">
      <p>
        ヒーロー名：Black Widow<br>
        本名：ナタリア・アリアノヴナ・"ナターシャ"・ロマノヴァ<br>
        ナターシャ・ロマノフはスーパー・スパイ、ブラック・ウィドウとしてその名を知られている。<br>
        諜報に関するあらゆる分野で訓練を積み、<br>
        最新鋭の技術を装備したブラック・ウィドウの戦闘技術に適うものはそうそういない。<br>
        S.H.I.E.L.D.最重要エージェントのひとりとして、いくつもの秘密工作を成功させてきた。<br>
        アベンジャーズのメンバーとしてもその恐るべき才能を悪に立ち向かうため惜しみなく使うのである。
      </p>
    </div>
  </div>
</div>

<div class="container" *ngIf="id==='20'">
  <img src="assets/Ant-Man.jpg" alt="画像">
  <div>
    <h1>最小にして最強</h1>
    <div class="detail">
      <p>
        ヒーロー名：Ant-Man<br>
        本名：スコット・ラング<br>
        “ヴィスタ・コープ社”の元エンジニアである前科者の男性。<br>
        結婚を機に足を洗ったが、勤めていたヴィスタ・コープ社の不正に気付き、<br>
        正義感からそれを公表し、金を被害に遭った顧客に返金したものの、<br>
        同時に窃盗を働いて、社長の車をプールに沈める悪戯まで行った結果、逮捕されてしまい、職も家族も失う羽目になった前歴を持つ。<br>
        3年間の服役を終えて更生しようとするも、就職困難によりピム邸へ潜入して<br>
        “アントマン・スーツ”を盗んだことからピム父娘と出会い、<br>
        彼らの指導を受け、愛娘のためにアントマンとなる。
      </p>
    </div>
  </div>
</div>