<div *ngIf="id==='12'">
    <img src="assets/Spider-Man.jpg" alt="画像">
  </div>
  <div *ngIf="id==='13'">
    <img src="assets/Ironman.jpg" alt="画像">
  </div>
  <div *ngIf="id==='14'">
    <img src="assets/Captain America.jpg" alt="画像">
  </div>
  <div *ngIf="id==='15'">
    <img src="assets/Thor.jpg" alt="画像">
  </div>
  <div *ngIf="id==='16'">
    <img src="assets/Doctor Strange.jpg" alt="画像">
  </div>
  <div *ngIf="id==='17'">
    <img src="assets/Black Panther.jpg" alt="画像">
  </div>
  <div *ngIf="id==='18'">
    <img src="assets/The Hulk.jpg" alt="画像">
  </div>
  <div *ngIf="id==='19'">
    <img src="assets/Black Widow.jpg" alt="画像">
  </div>
  <div *ngIf="id==='20'">
    <img src="assets/Ant-Man.jpg" alt="画像">
  </div>

